#projects {
  background-color: var(--gray-200);
  padding: 4.5rem 0 9rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-300);
  border-radius: 0.75rem;
  padding: 0.75rem 0.75rem 0;

  & img {
    border-radius: 0.5rem;
    display: block;
  }

  .description {
    margin-block: 1.25rem;
    padding: 0.25rem;

    & h3 {
      font: var(--title-sm);
      margin-bottom: 0.5rem;
    }
  }

  &:hover {
    outline: 1.5px solid var(--gray-400);
  }
}
